h1 {
  text-align: center;
}
.container {
  border-radius: 10px;
  padding: 20px;
  margin-left: 30%;
}
.row {
  padding-top: 30px;
}
 
.txtbox{
  width: 47%;
  padding: 12px;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.bot:hover {
  background-color: rgb(136, 14, 14);
  color: black;
}

.bot:active {
  background-color: black;
  color: white;
  box-shadow: 0 5px rgb(128, 16, 16);
  transform: translateY(2px);
}

.datos1 {
  width: 55%;
  padding: 12px;
}

.datos {
  width: 50%;
  padding: 12px;
}
  
.datos3{
  height: 90px;
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 8px  ;
}

.bot {
  width: 10%;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-left: 180px;
  border: 2px solid rgb(119, 15, 15);
}

select{
  width: 50%;
  border-radius: 7px;
  padding: 10px 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}

  
.text-danger {
  display: block;
  padding-top: 2px;
  color: #ff0000a6;
}
