<h1>Practica 39</h1>
<hr>

<div class="container">
  <form (ngSubmit)="guardar()" #forma="ngForm">

    <div class="row">
      <div>
        <label for="name" class="lbl">Corrreo Electronico</label>
      </div>
      <div>
        <input 
        type="text" 
        id="name" 
        placeholder="Correo Electronico" 
        class="txtbox"
        name="correo"
        [(ngModel)]="datos.correo"
        required
        minlength="7"
        #correo="ngModel"
        [class.is-invalid]="correo.invalid && correo.touched"
        pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$"
        >

        <small class="text-danger" *ngIf="correo.invalid && correo.touched">Ingresar un correo valido</small>
      </div>
    </div>

    <div class="row">
      <div>
        <label for="direction" class="lbl">Cantidad de tramites</label>
      </div>
      <div>
        <select name="tramites" id="ftramites" multiple required [(ngModel)]="datos.tramites" #tramites="ngModel">
          
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        </select>
        
      </div>
    </div>

    <div class="row">
      <div>
        <label for="direction" class="lbl">Descripcion</label>
      </div>
      <div>
        <input 
        type="text" 
        id="direction" 
        class="datos3"
        name="descripcion"
        [(ngModel)]="datos.descripcion"
        required
        minlength="10"
        #descripcion="ngModel"
        [class.is-invalid]="descripcion.invalid && descripcion.touched"
        pattern="^[a-zA-zñÑ\s]+$"
        >
        <small class="text-danger" *ngIf="descripcion.invalid && descripcion.touched">Ingrese mas de 10 letras</small>
      </div>
    </div>

    <div class="row">
      <div class="alinea-btn">
        
        <button type="submit" class="bot" [disabled]="!forma.valid"><b>Guardar</b></button>
      
      </div>
    </div>
      
  </form>
</div>